<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysd.mapper.CountryMapper">
	<select id="queryAllCountry" resultType="com.ysd.entity.Country">
		select * from country
	</select>
	<select id="queryAllCity" resultType="com.ysd.entity.City">
		SELECT * FROM city LIMIT 200
	</select>
	<select id="queryAllLanguage" resultType="com.ysd.entity.CountryLanguage">
		select * from countrylanguage LIMIT 200
	</select>
	<select id="queryAllCityByCountryCode" parameterType="String" resultType="com.ysd.entity.City">
		select * from city where CountryCode = #{countryCode};
	</select>
	<select id="queryLanguageByCountryCode" parameterType="String" resultType="com.ysd.entity.CountryLanguage">
		select * from countrylanguage where CountryCode = #{countryCode};
	</select>
	<insert id="addCountry" parameterType="com.ysd.entity.Country">
		insert into country (Code,Name,Continent,Region,SurfaceArea,Population,LocalName,GovernmentForm,HeadOfState,Code2) values(#{Code},#{Name},'Asia','Eastern Asia','12800',#{Population},'ZhongGuo','PeoplesRepublic',#{HeadOfState},'XL');
	</insert>
	<update id="updateCountry" parameterType="com.ysd.entity.Country">
		update  country set Name=#{Name},Population=#{Population},HeadOfState=#{HeadOfState} where Code=#{Code}
	</update>
	<select id="queryCountryByCountryCode" parameterType="String" resultType="com.ysd.entity.Country">
		select * from country where Code = #{countryCode};
	</select>
	<delete id="deleteCountry" parameterType="String">
		delete from country where Code = #{countryCode};
	</delete>
	<delete id="deleteCity" parameterType="String">
		delete from city where CountryCode = #{countryCode};
	</delete>
	<delete id="deleteCountryLanguage" parameterType="String">
		delete from countryLanguage where CountryCode = #{countryCode};
	</delete>
</mapper>