<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysd.mapper.FeedBackMapper">
	<select id="queryAllFeedBack" resultType="com.ysd.entity.FeedBack">
		select * from feedback
	</select>
	<select id="queryFeedBackTechnologyID" resultType="Integer">
		select id from feedback GROUP BY questionid
	</select>
	<insert id="addFeedBack" parameterType="com.ysd.entity.FeedBack">
		insert into feedback (questionid,content,name) values(#{questionID},#{content},#{name});
	</insert>
	
	<update id="updateFeedBack" parameterType="com.ysd.entity.FeedBack">
		update feedback set questionid=#{questionid},content=#{content},name=#{name}
	</update>
	
	<delete id="deleteFeedBack" parameterType="Integer">
		delete from feedback where id = #{feedbackID};
	</delete>
	
</mapper>